.nagoyameshi-login-input {
    border-radius: 2px;
    border: solid 1px #b2b2b2;
    background-color: #ffffff;
}

.nagoyameshi-check-label {
    font-family: YuGo;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.nagoyameshi-require-input-label {
    border-radius: 1px;
    background-color: #e2001b;
}

.nagoyameshi-require-input-label-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.nagoyameshi-submit-button {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #0fbe9f;
}

.nagoyameshi-login-text {
    font-family: YuGo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0fbe9f;
}

#a {
    color: #ffffff;
    text-align: center;
}

#b {
    color: #ffffff;
    text-align: center;
    position: relative; 
    top: 120px;
    left: 10px; 
}

nav {
    float: right;
    position: fixed;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-size: 22px;
}

body {
    background-color: #be780f;
}

input[type="search"] {
    font-size: 22px;
    position: relative; 
    top: 100px;
    left: 1000px; 
}

input[type="submit"] {
    font-size: 22px;
    position: relative; 
    top: 100px;
    left: 1000px; 
}

select {
    font-size: 22px;
    position: relative; 
    top: 100px;
    left: 1000px; 
}

.c {
    color: #ffffff;
    text-align: center;
    position: relative; 
    top: 120px;
    left: 10px; 
}

#d {
    color: #ffffff;
    text-align: center;
    font-size: 35px;
}

.e {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.f {
    color: #ffffff;
    text-align: center;
    position: relative; 
    top: 500px;
    left: 10px; 
}

#g {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.h {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.i {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    margin: auto
}

.j {
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 450px;
}

#k {
    color: #ffffff;
    text-align: center;
}

.m {
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 670px;
}

.k {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.kk {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.name {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.email {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.tel {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.btn {
    text-align: center;
    font-size: 30px;
    position: relative;
    left: 1100px;
}

.mt-3 {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.btncredit {
    text-align: center;
    font-size: 30px;
}

.login{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.logintext{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.loginsinki{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.loginword{
    text-align: center;
    font-size: 30px;
}

.btn100{
    text-align: center;
    font-size: 30px;
}